body {
  background-color: #dbf6e9;
  font-family: 'Press Start 2P', cursive;
  margin:0 auto;
  text-align: left;
  padding-top: 50px;
  font-size: 20px;
  padding: 0 70px 20px 70px;
}
h1{
  color: #709fb0;
  font-family: 'Audiowide', cursive;
  font-size: 5.625rem;
  text-align: center;
  padding:7px auto 7px;

}
nav{
  text-align: center;
  margin: 80px 70px 80px;
  letter-spacing: normal;

}
h2{
  line-height: 2;
  text-align: center;

}
h3{
  text-align: center;
}
h4{
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
article {
  width: 320px;
  padding: 10px;
  border: 5px solid #79a3b1;
  border-style:groove;
  margin: 0;
  display: inline-block;
}
p{
  text-align: center;
}
hr{
  background-color: #536162;
}
.top-icon{
  margin: auto;
  width: 80px;
  height: auto;
  padding-top: 10px;
}
.top-banner{
  width: 65%;
  line-height: 10;
  height: 10%;
  position: relative;
  text-align: center;
}
.menu{
  text-align: center;
  margin: 40px auto 10px 30px;
  padding-bottom: 50px;
}
.box1{
  height: 10%;
  width: 30%;
  float:left;
  position: relative;
  left: 450px;
  bottom: 450px;
}
.art1{
  float: left;
  position: relative;
}
.p1{
  text-align: center;
}
.Credits{
  line-height: 1;
  height: 20px;
}

/* Pokemon data CSS */
img.pokemon {
  height: 60px!important; 
  margin: 0;
  width: 60px!important;
}

.poke-list {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}