body {
  background-color: #dbf6e9;
  font-family: 'Press Start 2P', cursive;
  margin:0 auto;
  text-align: left;
  padding-top: 50px;
  font-size: 20px;
  padding: 0 70px 20px 70px;
}
h1{
  color: #709fb0;
  background-color: #4a47a3;
  font-family: 'Audiowide', cursive;
  font-size: 5.625rem;
  text-align: center;
  padding: 0 7px 20px 7px;

}
nav{
  text-align: center;
  margin: 2.5rem;

}
h2{
  line-height: 2;
  text-align: center;

}
h3{
  text-align: center;
}
.top-icon{
  width: 5%;
  position: relative;
  left:875px;
  padding-top: 5px;
}
.top-banner{
  width: 80%;
  height: 50%;
  position: relative;
  text-align: center;
  left: 200px;
}
.UC{
  width: 80%;
  height: 50%;
  position: relative;
  text-align: center;
  left: 200px;
}
.Shop{
  background-color: #dbf6e9;
  font-family: 'Press Start 2P', cursive;
  margin:0 auto;
  text-align: left;
  padding-top: 50px;
  font-size: 20px;
  padding: 0 70px 20px 70px;
}
