#title{
  padding-top: 100px;

}

.top-icon {
  display: block;
  width: 80px;
  margin: auto;
  padding-bottom: 20px;
  font-family: 'Audiowide', cursive;
}

#features{
  margin: 10px 10px;
  padding-bottom: 100px;

}


body {
  background-color: #dbf6e9;
  margin:0;
  padding-top: 25px;
  font-size: 20px;

}
h1{
  font-family: 'Audiowide', cursive;
  text-align: center;
}
h2,h3,h4,h5{
  color: #709fb0;
  font-family: 'Audiowide', cursive;
  font-size: 3rem;
  text-align: center;

}
/* nav bar */
.navbar {
  text-align: center;
  padding-bottom: 20px;
}
.navbar-brand{
  font-family: 'Audiowide', cursive;

}


/* Carasel */

p{
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
}
.lead{
  color: black;
  font-family: 'Maven Pro', sans-serif;

}
hr{
  background-color: #536162;
}

.top-banner{
  width: 50%;
  line-height: 10;
  height: 10%;
  position: relative;
  text-align: center;
  padding-top: 20px;
}
/* card */
.row{
  background-color: #5eaaa8;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  left:100px;

}

.card{
  margin: 20px 75px 20px;
}
.rare-candy{
  width:50%;
  position: relative;
  left:200px
}
.ash-picka{
  width:40%;
}
.cool-squirtle{
  width:35%;
}
.card-img-top{
  width:50%;
}
.carousel-item {
  height: 60vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section {
  padding-top: 3rem;
  padding-bottom: 10rem;
}


bgc2, .vLine, .hLine {
    background-color: #0F52BA;
}


/* Pokemon data CSS */
img.pokemon {
  height: 60px!important;
  margin: 0;
  width: 60px!important;
}

.poke-list {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
